@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.app {
}
.app-parent {
  width: 100%;
  display: flex;
}

.dash {
  width: 50%;
}
.side {
  width: 10%;
}
